.App {
  text-align: center;
    background-color: #d0d2d5;
    margin: 0;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
    flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}

.navLink {
    text-decoration: none;
    flex-grow: 1;
}

.nav{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    flex-grow: 1;
}
.content{
    flex-grow: 5;
}